body{
      font-family: 'Sen', sans-serif;
      overflow-x: hidden;
}

:root{
      --input-border: #b8b8b8;

}

//input style
.require-input{
      padding-left: 5px;
      padding-right: 5px;
      color: red;
}
input.form-control{
      border: 1px solid var(--input-border);
}
select.form-select{
      border: 1px solid var(--input-border);
}
span.input-group-text{
      border: 1px solid var(--input-border);
}


//button

.btn-primary2{
      background: #4C48FF;
      padding: 8px 15px;
      color: white;
      border-radius: 5px;
      border: 0;
}
.btn-primary2:hover{
      background: #100cff;
}

.button-submit{
      background: #4C48FF;
      padding: 8px 15px;
      color: white;
      border-radius: 5px;
      border: 0;
}
.button-submit:hover{
      background: #100cff;
}